
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 16px;
}

* {
    box-sizing: border-box;
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

    .zoom:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
    }

.aaa {
    height: 450px;
    width: 230px;
    margin-right: 20px;
    margin-left: 80px;
    border: solid;
}

.aab {
    height: 300px;
    width: 225px;
}

.aac {
    height: 450px;
    width: 225px;
    border: solid
}

footer {
    height: 150px;
    width: 100%;
    opacity: 0.8;
    background-color: black;
    padding-top: 7px;
    margin-top:60px;
}

.middle {
    position: absolute;
    left: 5%;
    opacity: 100;
}

.btn1 button {
    background: blue;
    color: white;
}

.btn2 button {
    background-color: aqua;
    color: white;
}

.btn3 button {
    background: red;
    color: white;
}

.btn4 button {
    background-image: linear-gradient(blue,brown,yellow);
    color: white;
}

.btn5 button {
    background: red;
    color: white;
    border: 1.5px;
    border-color: white;
    border-style: initial;
}

.btn1 button, .btn2 button, .btn3 button, .btn4 button, .btn5 button {
    width: 45px;
    height: 45px;
    display: inline-block;
    box-shadow: 0px 5px 15px -15px #00000070;
    overflow: hidden;
    margin: 4px;
    border-radius: 100%;
    position: relative;
    text-align: center;
    padding: 5px;
}

.btn1 i, .btn2 i, .btn3 i, .btn4 i, .btn5 i {
    line-height: 30px;
    font-size: 20px;
}

.btn1 button:hover, .btn2 button:hover, .btn3 button:hover, .btn4 button:hover, .btn5 button:hover {
    transform: rotateZ(360deg);
    transition: .4s;
    border-color: white;
    border-bottom: 1px;
}

h4 {
    margin: 4px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    padding-left: 40px;
}

.Explore {
    float: left;
    padding-left: 450px;
    margin-right: 3px;
}

    .Explore ul li {
        padding: 4px;
    }

        .Explore ul li .Head4 {
            font-weight: bold;
            font-size: 20px;
        }

        .Explore ul li a {
            color: white;
            list-style: none;
            font-size: 13px;
            border-bottom: medium;
            border-bottom-color: black;
        }

            .Explore ul li a:hover {
                border-bottom-color: white;
                transition: .3s;
            }

.Policy {
    float: left;
    margin-left: 80px;
    color: white;
}

    .Policy ul li {
        padding: 4px;
    }

        .Policy ul li .Head1 {
            font-size: 20px;
            font-weight: bold;
            list-style: none;
        }

        .Policy ul li a {
            color: white;
            font-size: 13px;
            list-style: none;
        }

.stats {
    float: left;
    margin-left: 80px;
}

    .stats ul li {
        padding: 4px;
    }

        .stats ul li .Head2 {
            font-size: 20px;
            font-weight: bold;
        }

        .stats ul li a {
            list-style: none;
            color: white;
            font-size: 13px;
        }

.Contact_Us {
    float: left;
    margin-left: 80px;
}

    .Contact_Us ul li {
        padding: 4px;
    }

        .Contact_Us ul li .Head3 {
            font-size: 20px;
            font-weight: bold;
        }

        .Contact_Us ul li a {
            color: white;
            font-size: 13px;
            list-style: none;
        }

.End {
    height: 15px;
    width: 100%;
    background-image: linear-gradient(red,indianred);
    float: left;
    margin-top: 10px;
    align-content: center;
}

    .End p {
        font-size: 10px;
        color: black;
        float: left;
        display: flex;
    }

    .End:hover {
        background-image: linear-gradient(orange,indianred);
        transform-origin: left;
    }
